<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atp.live_atp_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.atp.live_atp_mobile.MainActivity">
        </activity>

        <activity
            android:name="com.atp.live_atp_mobile.AuthenticationActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.atp.live_atp_mobile.ServiceActivity">
        </activity>

        <activity android:name="com.atp.live_atp_mobile.Pop"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>

        <activity android:name=".SanctionActivity" >
        </activity>

        <activity android:name=".BreakActivity" >
        </activity>

        <activity android:name=".AbortActivity" >
        </activity>

        <activity android:name=".EndMatchActivity" >
        </activity>

        <activity android:name=".CloseAppActivity" >
        </activity>
    </application>

</manifest>